{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Звездность</h1>
    <div style="text-align: right;">
        <h1 >Всего связано: {{ relations_count }}</h1>
    </div>

    <form enctype="multipart/form-data" id="country_relation" action="star/ajax" action_manage="star/manage_relation">
        <div class="main_loop_unfix">
            <div class="left_loop">
                Оператор: <select name='operator_id'>
                    <option value="0"></option>
                    {% for operator in operators %}
                        <option value="{{ operator.name }}" >{{ operator.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="main_loop">
            <div class="left_loop_scroll">
                <u>ТурОбзор</u><br/><br/>
                <ul></ul>
            </div>

            <div class="right_loop_scroll">
                <u>Оператор</u><br/><br/>
                <ul></ul>
            </div>
        </div>
        <div class="right_loop_scroll_backup hide" style="display: block;">
            <u>Связанные</u><br/><br/>
            <ul></ul>
        </div>
    </form>

    {#<script type="text/javascript" src="{{ asset('bundles/andreyboloninpacktour/js/star.js') }}"></script>#}
    <script type="text/javascript" src="/js/star.js"></script>
{% endblock %}
