{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Страны</h1>
    <div style="text-align: right;">
        <h1 >Всего связано: {{ relations_count }}</h1>
    </div>

    <form enctype="multipart/form-data" id="country_relation" action="/country/ajax">
        <div class="main_loop_unfix">
            <div class="left_loop">
                Оператор:  <select name='operator_id'>
                    <option></option>
                    {% for operator in operators %}
                        <option value="{{ operator.name }}">{{ operator.title }}</option>
                    {% endfor %}
                </select>
                <br/><br/>
                <a target="_blank" href="http://www.artlebedev.ru/tools/country-list/">Cписок стран мира (HTML)</a><br/>
                <a target="_blank" href="http://www.artlebedev.ru/tools/country-list/xml/">Cписок стран мира (XML)</a><br/>
                <a target="_blank" href="http://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%B0%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82%D0%BE%D0%B2_%D0%BF%D0%BE_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B0%D0%BC">Cписок аэропортов</a>
                <br/>
            </div>
        </div>

        <div class="main_loop">
            <div class="left_loop_scroll">
                <u>ТурОбзор</u>
                <br/><br/>
                <ul></ul>
            </div>

            <div class="right_loop_scroll">
                <u>Оператор</u>
                <br/><br/>
                <ul></ul>
            </div>
        </div>

        <div class="right_loop_scroll_backup">
            <u>Связанные</u><br/><br/>
            <ul></ul>
        </div>
    </form>

    {#<script type="text/javascript" src="{{ asset('bundles/andreyboloninpacktour/js/country.js') }}"></script>#}
    <script type="text/javascript" src="/js/country.js"></script>
{% endblock %}
