{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Отели</h1>
    <div style="text-align: right;">
        <h1 >Всего связано: {{ relations_count }}</h1>
    </div>

    <form enctype="multipart/form-data" action="/hotel/ajax">
        <div class="main_loop_unfix">
            <div class="left_loop">
                Оператор: <select name='operator_id'>
                    <option value="0"></option>
                    {% for operator in operators %}
                        <option value="{{ operator.name }}" >{{ operator.title }}</option>
                    {% endfor %}
                </select>
                <br/><br/>
                Страна: <select name='country_id'></select>
            </div>
            <div class="right_loop">
            </div>
        </div>

        <div class="main_loop">
            <div class="left_loop_scroll">
                <u>ТурОбзор</u><br/><br/>
                <ul>
                    {% for hotel in main_hotel %}
                        <li>
                            <label>
                                <input type="radio" name="main_hotel" value="{{ hotel.id }}"/>
                                <span>{{ hotel.name }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="right_loop_scroll">
                <u>Оператор</u><br/><br/>
                <ul></ul>
            </div>
        </div>
        <div class="right_loop_scroll_backup hide" style="display: block;">
            <u>Связанные</u><br/><br/>
            <ul></ul>
        </div>
    </form>

    {#<script type="text/javascript" src="{{ asset('bundles/andreyboloninpacktour/js/hotel.js') }}"></script>#}
    <script type="text/javascript" src="/js/hotel.js"></script>
{% endblock %}
