{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Статистика отелей</h1>

    <div class="message notification_box">
        <table>
            <tr>
                <td><b>Название</b></td>
                <td><b>Курорт</b></td>
                <td><b>Страна</b></td>
                <td><b>Параметризация</b></td>
            </tr>
            {% for val in hotels %}
            <tr>
                <td><b>{{ val.name }}</b></td>
                <td>{{ val.resort_name }}</td>
                <td>{{ val.country_name }}</td>
                <td>{{ val.status_name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
