{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
        <h1>Пакетные туры в цифрах:</h1>
        <div class="message notification_box">
            <table>
                <tr>
                    <td><b>Операторов - </b></td>
                    <td><b>{{ operators }}</b></td>
                </tr>
                <tr>
                    <td><b>Spo - </b></td>
                    <td><b>{{ spo }}</b></td>
                </tr>
                <tr>
                    <td><b>Спаршенных туров - </b></td>
                    <td><b>{{ parse_tours|number_format(0, '.', ' ') }}</b></td>
                </tr>
                <tr>
                    <td><b>Пакетных туров - </b></td>
                    <td><b>{{ pack_tours|number_format(0, '.', ' ') }}</b></td>
                </tr>
            </table>
        </div>
{% endblock %}
