{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Лог мигратора</h1>
    <div class="message notification_box">
        <table>
            <tr>
                <td><b>Оператор</b></td>
                <td><b>Тип ошибки</b></td>
                <td><b>Кол-во ошибок</b></td>
                <td><b>Обновлено</b></td>
            </tr>
            {% for el in migrator_errors %}
                <tr>
                    <td>{{ el.operator }}</td>
                    <td>{{ el.error_type }}</td>
                    <td>{{ el.count_errors }}</td>
                    <td>{{ el.updated_at|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
