{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Список активных операторов</h1>

    <ul>
        {% for operator in operators %}
            <li>
                {{ operator }}
            </li><br/>
        {% endfor %}
        <br/>
        <b>Всего:</b> {{ operators | length }}
    </ul>
{% endblock %}
