{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Статистика пакетных туров</h1>
    <div class="message notification_box">
        <table>
            <tr>
                <td><b>Оператор</b></td>
                <td><b>Туры</b></td>
                <td><b>Страна</b></td>
            </tr>
            {% set sum = 0 %}
            {% for key, val in pack_tour %}
                {% for country in val %}
                    {% set sum = country.rows + sum %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ country.rows|number_format(0, '.', ' ') }}</td>
                        <td>{{ country.name }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td><b>Всего:</b></td>
                <td>{{ sum|number_format(0, '.', ' ') }}</td>
                <td></td>
            </tr>
            <tr>
                <td><b>Операторы ({{ operators|length }}):</b></td>
                <td>
                    {% for operator in operators %}
                        {{ operator }}<br/><br/>
                    {% endfor %}
                </td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}
