{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Статистика спаршенных туров</h1>
    <div class="message notification_box">
        <table>
            <tr>
                <td><b>Оператор</b></td>
                <td><b>Туры</b></td>
                <td><b>Страна (name)</b></td>
                <td><b>Страна (code)</b></td>
            </tr>
            {% set sum = 0 %}
            {% set operators = [] %}

            {% for key, val in parse_tour %}
                {% for country in val %}
                    {% if key in operators %}
                        {% set operators = key %}
                    {% endif %}
                    <tr>
                        <td><?php echo $key ?>{{ key }}</td>
                        <td><?php echo number_format($country['rows'], 0, '.', ' ') ?>{{ country.rows|number_format(0, '.', ' ') }}</td>
                        <td><?php echo $country['name'] ?>{{ country.name }}</td>
                        <td><?php echo $country['code'] ?>{{ country.code }}</td>
                    </tr>
                    {% set sum = country.rows + sum %}
                    {#<?php $sum = $country['rows'] + $sum; ?>#}
                {% endfor %}
            {% endfor %}

            {#<?php foreach ($this->parse_tour as $key => $val): ?>#}
            {#<?php foreach ($val as $country): ?>#}
            {#<?php#}
            {#if (!in_array($key, $operators)) {#}
            {#$operators[] = $key;#}
            {#}#}
            {#?>#}
            {#<tr>#}
            {#<td><?php echo $key ?></td>#}
            {#<td><?php echo number_format($country['rows'], 0, '.', ' ') ?></td>#}
            {#<td><?php echo $country['name'] ?></td>#}
            {#<td><?php echo $country['code'] ?></td>#}
            {#</tr>#}
            {#<?php $sum = $country['rows'] + $sum; ?>#}
            {#<?php endforeach; ?>#}
            {#<?php endforeach; ?>#}
            <tr>
                <td><b>Всего:</b></td>
                <td><?php echo number_format($sum, 0, '.', ' '); ?></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Операторы (<?php echo count($operators) ?>):</b></td>
                <td>
                    <?php foreach ($operators as $operator): ?>
                    <?php echo $operator ?><br/><br/>
                    <?php endforeach; ?>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Обновлено:</b></td>
                {#<td>{{ parse_tour.updated_at }}</td>#}
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}
