{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Лог связей</h1>
    <a href="{{ path('relation_log', {'period': 'month'}) }}">Месяц</a>
    <a href="{{ path('relation_log', {'period': 'week'}) }}">Неделя</a>
    <a href="{{ path('relation_log', {'period': 'day'}) }}">День</a>
    <div class="message notification_box">
        <table>
            <tr>
                {#<td><b>Сущность</b></td>#}
                {#<td><b>Id связи</b></td>#}
                {#<td><b>Действие</b></td>#}
                <td><b>Пользователь</b></td>
                {#<td><b>Дата</b></td>#}
                <td><b>Количество</b></td>
            </tr>
            {% for el in log %}
                <tr>
                    {#<td>{{ el.entity_id }}</td>#}
                    {#<td>{{ el.relation_id }}</td>#}
                    {#<td>{{ el.action }}</td>#}
                    <td>{{ el.user_id }}</td>
                    {#<td>{{ el.created_at|date('Y-m-d H:i:s') }}</td>#}
                    <td>{{ el.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
