{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Статистика SPO</h1>
    <div class="message notification_box">
        <table>
            <tr>
                <td><b>Статус</b></td>
                <td><b>Количество spo</b></td>
            </tr>
            {% set sum = 0 %}
            {% for el in rows %}
                <tr>
                    <td>{{ el.status }}</td>
                    <td>{{ el.rows }}</td>
                </tr>
                {% set sum = sum + el.rows %}
            {% endfor %}
            <tr>
                <td><b>Всего SPO:</b></td>
                <td>{{ sum|number_format( 0, '.', ' ') }}</td>
            </tr>
            <tr>
                <td><b>Операторы ({{ operators | length }}):</b></td>
                <td>
                    {% for operator in operators %}
                        {{ operator.operator }} ({{ operator.rows }})
                        <br/><br/>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
