{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Список обязательных параметров для пакетных туров</h1>
    <ul>
        <li><b>id</b> - id тура  в рамках оператора</li><br/>
        <li><b>spo</b> - номер spo</li><br/>
        <li><b>room</b> - тип комнаты</li><br/>
        <li><b>hotel</b> - отель</li><br/>
        <li><b>star</b> - количество звезд отеля (1-5)</li><br/>
        <li><b>city</b> - город отдыха</li><br/>
        <li><b>country</b> - страна отдыха</li><br/>
        <li><b>date_start</b> - дата начала тура</li><br/>
        <li><b>date_end</b> - дата конца тура</li><br/>
        <li><b>night_count</b> - количество ночей</li><br/>
        <li><b>pansion</b> - тип питания (BB, FB, AI)</li><br/>
        <li><b>stay_type</b> - тип размещения в номере (DBL, SNGL, TRPL)</li><br/>
        <li><b>adult</b> - количество взрослых</li><br/>
        <li><b>price</b> - стоимость</li><br/>
        <li><b>currency</b> - валюта (USD, EUR, RUB, UAH)</li><br/>
    </ul>

    <h1>Список обязательных параметров для экскурсионных туров</h1>
    <ul>
        <li><b>name</b> - Название тура</li><br/>
        <li><b>tour_type</b> - типы отдыха</li><br/>
        <li><b>date_start</b> - дата начала</li><br/>
        <li><b>night_count</b> - кол-во ночей или дней</li><br/>
        <li><b>price</b> - ценник</li><br/>
        <li><b>currency</b> - валюта (USD, EUR, RUB, UAH)</li><br/>
        <li><b>city</b> - город выезда</li><br/>
        <li><b>countries</b> - посещаемые страны</li><br/>
        <li><b>operator</b> - имя оператора</li><br/>
        <li><b>tour_program</b> - Программа тура, отдельно расписанная по каждому дню</li><br/>
    </ul>

    <br/>
    <!--<a target="_blank" href="/index/xml_excursions_tours/json">Пример в JSON-формате</a><br/><br/>-->
    <a target="_blank" href="xml_excursions_tours">Пример в XML-формате</a>


    <h1>Список наших ip-адресов</h1>
    <ul>
        <li>62.80.162.126</li><br/>
        <li>91.197.185.103</li><br/>
        <li>91.197.185.107</li>
    </ul>
    <br/><br/>

    <b>Так же для парсинга желательны справочники от оператора по стране, городу, отелю, питанию, размещению, звездности.<br/>
        Все файлы с турами должны быть размещены на удаленном сервере, доступном онлайн по http или ftp протоколу.</b>
{% endblock %}
