{% extends "AndreyboloninPackTourBundle::layout.html.twig" %}

{% block content %}
    <h1>Города</h1>

    <div style="text-align: right;">
        <h1 >Всего связано: {{ relations_count }}</h1>
        <br/><br/>
        <form id="form_add_city">
            <p><b>Добавить город</b></p>
            Имя: <input name="name" type="text" id="city_name" placeholder="Имя города" pattern="^[а-яА-Я-\s\t]+" required/><br/>
            Страна: <select name="main_country_id" id="main_country_id" required>
                <option></option>
                {% for country in main_country %}
                    <option value="{{ country.id }}" >{{ country.name }}</option>
                {% endfor %}
            </select><br/>
            <button type="submit" id="add_city_ajax">Добавить</button>
        </form>
    </div>

    <form enctype="multipart/form-data" action="/city/ajax">
        <div class="main_loop_unfix">
            <div class="left_loop">
                Оператор:  <select name='operator_id'>
                    <option></option>
                    {% for operator in operators %}
                        <option value="{{ operator.name }}">{{ operator.title }}</option>
                    {% endfor %}
                </select>
                <br/><br/>
                <a target="_blank" href="http://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%B0%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82%D0%BE%D0%B2_%D0%BF%D0%BE_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B0%D0%BC">Cписок аэропортов</a><br/>
            </div>
            <div class="right_loop">
            </div>
        </div>

        <div class="main_loop">
            <div class="left_loop_scroll">
                <u>ТурОбзор</u><br/><br/>
                <ul></ul>
            </div>

            <div class="right_loop_scroll">
                <u>Оператор</u><br/><br/>
                <ul></ul>
            </div>
        </div>
        <div class="right_loop_scroll_backup hide" style="display: block;">
            <u>Связанные</u><br/><br/>
            <ul></ul>
        </div>
    </form>

    {#<script type="text/javascript" src="{{ asset('bundles/andreyboloninpacktour/js/city.js') }}"></script>#}
    <script type="text/javascript" src="/js/city.js"></script>
{% endblock %}
