<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <title>Пакетные туры</title>
        {#<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />#}
        {#<link rel="stylesheet" href="{{ asset('bundles/andreyboloninpacktour/css/screen.css') }}" />#}
        <link rel="stylesheet" href="/css/screen.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="header">
        <div class="logo"><a href="{{ path('default') }}">Пакетные туры</a></div>
        {{ knp_menu_render('AndreyboloninPackTourBundle:Builder:mainMenu') }}
        <div class="breadcrumb"></div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
</body>
</html>
