html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1; color: black; background: #F5F5DC; }
ol, ul { list-style: none; }
#content table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
#content caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
a img { border: none; }
a {
    text-decoration: none;
}
body { font-size: 62.5%; font-family: Arial, Verdana; }
#header { float: left; width: 98%; padding: 0px 1% 24px; display: inline; height: 142px; background: url('../images/header.png') repeat-x; }
#header .profile { float: right; width: auto; height: 26px; margin-top: 10px; background: url(../images/profile_header.png) repeat-x; border-left: 1px solid #374449; border-right: 1px solid #374449; border-right-display: inline; }
#header .profile ul { float: left; margin-top: 1px; }
#header .profile ul li { float: left; padding: 0; margin: 0; }
#header .profile ul li a { float: left; color: white; font-size: 1.2em; text-decoration: none; padding-right: 8px; padding-left: 8px; padding-top: 6px; padding-bottom: 8px; font-weight: bold; }
#header .profile ul li a.logout { color: #ef8192; }
#header .profile ul li a.logout:hover { color: #e6324b; }
#header .profile ul li a:hover { background: #2e3a3f; }
#header #main_navigation { float: right; clear: both; margin-top: 5px; }
#header #main_navigation li { float: left; margin-right: 4px; }
#header #main_navigation li a.main {
    float: left;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    padding: 10px;
    display: inline;
    background: url(../images/menu_background.png) repeat-x;
}
#header #main_navigation li a.main:hover,
#header #main_navigation li.current a.main,
#header #main_navigation li a.main.mainhover {
    background: white;
    color: #334145;
}

#header .logo { float: left; font-size: 2.4em; color: white; margin-top: 35px; }
#header .breadcrumb { float: left; clear: both; margin-top: 10px; font-size: 2em; }
#header .breadcrumb a { color: #2a363b; text-decoration: none; }
#content {  width: 1260px; padding: 0 1% 24px; margin: 0 auto; clear: both; }
#content .left{ float:left; width: 1000px;}
#content .right{float:left; margin-left: 10px; width: 270px; }
#content .right .counters {font-size: 18px; margin-bottom: 15px}
#content .right .counters a{text-decoration: underline; color:#000000}
#content #status{font-size: 20px; text-align: center;}
#accordion .head { padding: 5px 10px;font-size: 17px; font-family: Tahoma; font-weight: normal; color: #fff; width: 935px;background: #333;
    cursor: pointer;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 900px;
}
#accordion .filled{}
#accordion .empty{background: #FF3300}
.redactor_content {

}
.add-note{
    background:url(../img/wave-2.png) repeat-x 0 100%;
    padding-bottom:10px;
    margin-bottom:30px;
}
.add-note h4{
    font-size:18px;
    font-family: 'DroidSerifBold',Georgia,serif;
    text-align:center;
    background:url(../img/wave-2.png) repeat-x 0 10px;
    font-weight:normal;
}
.add-note h4 span{
    background:#fff;
    padding:0 10px;
}
.add-note__holder{
    background:#fbf7f4;
    padding:15px 20px 0;
    overflow:hidden;
}
.add-note__holder p{
    font-family: Tahoma, Arial, serif;
    font-size:12px;
    line-height: 22px;
    margin-bottom: 20px;
}
.params{

}

.row{
    width:100%;
    font-size: 14px;
    margin-top: 15px;
}
.no_photo{
    background-color:  	#CCCCCC;
}
.row .header{
    float:left;
    width: 500px;
}
.row .status{
    float:left
}
.row .status div{
    float: left;
    margin-left: 10px;
    line-height: 24px;

}
.param{
    width: 450px;
    float: left;
}
.clear{
    clear: both;
}
.param:hover{
    background-color:  #DFDDDC;

}
#content table { float: left; width: 100%; }
#content table thead { background: #2e3a3f; }
#content table thead td { font-size: 1.2em; font-weight: bold; color: white; padding: 12px; margin: 0px; background: url(../images/table_background.png) repeat-x; }
#content table thead td.actions { width: 100px; text-align: left !important; }
#content table tr:hover { background: #f4f4f4; }
#content table thead tr:hover { background-color:transparent !important; }
#content table tr th a { position:relative;top:-4px; }
#content table tr th, #content table tr td { border-bottom: 1px solid #dfdddc; padding: 20px; padding-left: 12px; padding-right: 12px; font-size: 1.2em; text-align: left; }@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/content\.sass}line{font-family:\0000326}}
#content table tr td.actions { text-align: right; }
ul.pagination { float: right; margin-top: 20px; }
ul.pagination li { float: left; padding-left: 15px; }
ul.pagination li a { color: #5b6f7b; font-size: 1.4em; text-decoration: none; }
ul.pagination li a:hover { color: #364347; }
ul.pagination li a.number { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; border: 1px solid #dfdddc; padding: 4px; padding-left: 6px; padding-right: 6px; }
ul.pagination li a.number:hover, ul.pagination li a.number.current { background: #364347; border: 1px solid #2b3639; color: white; }
.edit { float: left; width: 16px; height: 16px; padding-right: 16px; background: url(../images/icons.png) no-repeat; }
.delete { float: left; width: 16px; height: 16px; padding-right: 16px; background: url(../images/icons.png) no-repeat; background-position: -32px 0px; }
fieldset.form_block {  }
fieldset.form_block ul { clear: both; float: left; }
fieldset.form_block ul li { float: left; clear: both; padding-top: 10px; padding-bottom: 10px; }
fieldset.form_block ul li .error { clear: both; float: left; font-size: 1.2em; padding: 2px; margin-top: 4px; }
fieldset.form_block ul li label { float: left; font-size: 1.4em; color: #464646; padding: 5px 0px 9px 0px; }
fieldset.form_block ul li .small_text { clear: both; float: left; height: 35px; border: 1px solid #dfdddc; padding-left: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; width: 200px; }
fieldset.form_block ul li .small_text:focus { border: 1px solid #b3dd91; -moz-box-shadow: #ddf0ce -1px 1px 1px 0; -webkit-box-shadow: #ddf0ce -1px 1px 1px 0; -o-box-shadow: #ddf0ce -1px 1px 1px 0; box-shadow: #ddf0ce -1px 1px 1px 0; }
fieldset.form_block ul li .medium_text { clear: both; float: left; height: 35px; border: 1px solid #dfdddc; padding-left: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; width: 350px; }
fieldset.form_block ul li .medium_text:focus { border: 1px solid #b3dd91; -moz-box-shadow: #ddf0ce -1px 1px 1px 0; -webkit-box-shadow: #ddf0ce -1px 1px 1px 0; -o-box-shadow: #ddf0ce -1px 1px 1px 0; box-shadow: #ddf0ce -1px 1px 1px 0; }
fieldset.form_block ul li .large_text { clear: both; float: left; height: 35px; border: 1px solid #dfdddc; padding-left: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; width: 600px; }
fieldset.form_block ul li .large_text:focus { border: 1px solid #b3dd91; -moz-box-shadow: #ddf0ce -1px 1px 1px 0; -webkit-box-shadow: #ddf0ce -1px 1px 1px 0; -o-box-shadow: #ddf0ce -1px 1px 1px 0; box-shadow: #ddf0ce -1px 1px 1px 0; }

fieldset.form_block ul li .submit_button { background: url(../images/submit_background.png) repeat-x; height: 39px; border: 1px solid #d2d2d2; color: #2a363b; padding-left: 20px; padding-right: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; outline: none; }
fieldset.form_block ul li .submit_button:hover { background: url(../images/submit_background_hover.png) repeat-x; cursor: pointer; cursor: hand; }
.notification_box { float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; }
.notification_box p { padding: 15px; font-size: 1.4em; color: #464646; }
.message { border: 1px solid #f7eaae; background: #fdfaeb; }
.success { background: #eaf8e0; border: 1px solid #c5ebac; }
.error { background: #faeddf; border: 1px solid #f4d8b9; }
h1 { float: left; font-size: 2.6em; line-height: 2em; width: 100%; margin: 10px 0px 10px 0px; }
.submit_button { background: url(../images/submit_background.png) repeat-x; height: 39px; border: 1px solid #d2d2d2; color: #2a363b; padding-left: 20px; padding-right: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; outline: none; }
.submit_button:hover { background: url(../images/submit_background_hover.png) repeat-x; cursor: pointer; cursor: hand; }
#map_canvas {height: 381px;width: 715px;}
.left_block { width: 130px; }
.stars { display: block; height:14px; width:0px; z-index:7; background:url(../../front/img/stars.png); }
.hotel_backlink {float: right; font-size: 18px; font-style: italic; position: relative; top: -60px; }

.but {
    background: -moz-linear-gradient(center top , #FF4200 0%, #D6210B 100%) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
}
.red_button {padding: 7px;width: 11px;}
.red_button i {display: inline-block;    height: 17px;    margin: -4px -3px;    overflow: hidden;    text-indent: -99999px;    width: 17px;}
.remove_button i {background: url("../images/tourists_cancel.png") no-repeat scroll 50% 50% transparent;}
.edit_button i {background: url("../images/icon-edit.png") no-repeat scroll 50% 50% transparent;}
.lilmap #map_canvas { height: 230px !important; width: 395px !important; }
#ski_block, #photo_block {margin-top:12px;margin-bottom:12px;border:1px #DDDDDD solid; padding:10px;}
.show_image img {max-width:150px;margin-right: 10px;}
.photo_row textarea, .ski_row textarea {margin-top: 10px;}
#sponsor { margin-top:20px; padding:10px; width:100%; text-align: center;}
#sponsor span { font-size:16px; }
#sponsor table {width:430px; text-align:left;}
#sponsor table input {width:230px;}
#sponsor table, #sponsor td, #sponsor tr {font-size:14px !important; padding: 9px 0px 9px 0px !important; border-bottom:none !important;}
.photo_count {
    font-size: 2.6em !important;
}
.filled {background-color:#f7d998;}
.sortable_header a { color: #FFFFFF; font-size: 16px;}
.sortable_header:hover { background-color:transparent !important; }
.stars_legend { display: inline-block; float: right; width: 505px; margin-bottom: 40px; margin-top: -40px;}
.stars_legend div { display: inline-block; font-size: 15px; width: 245px; margin-bottom: 10px; }
.stars_legend div img { margin-right: 3px; position: relative; top: 5px; }
.stars_legend select { font-size: 14px !important; text-align:left !important; }
.stars_legend option { text-align:left !important; }
.stars_legend form { float: right; font-size: 14px !important; position: relative; right: 41px; top: 12px; }
#last_edit { float: right; font-size: 12px; font-style: italic; position: relative; right: 35px; top: -70px;}
.last_date { font-size: 12px; font-style: italic; }
.add_it {float: right;font-size: 16px;margin-right: 50px;margin-top: -40px;position: relative;}
.add_it a {color: #087CAD;text-decoration:underline;}
.bold {font-weight:bold;}
.zone_edit {float: left;margin-top: 35px;padding: 0 20%;width: 60%;}
.zone_edit table {background-color: #F4F4F4;margin-left: 0.5%;width: 99% !important;}
.zone_edit .head {background-color:#000000;border-radius:4px 4px 4px 4px;color: #FFFFFF;font-size: 20px;padding: 10px;}
.zone_edit input[type="submit"] {margin-left: 10%;margin-top: 25px;}
.zone_edit table input, .zone_edit table select {margin-top:4px;}
.zone_edit table input {height:16px;width:250px;}
.zone_edit table select {height:22px;width:150px;}
.zone_edit .errors {font-size: 16px;margin-bottom: 20px;}
.zone_edit .errors ul li {line-height: 35px;list-style: square outside none;margin-left: 50px;}
.second_add {margin-top:-70px !important;}

/*relation.css*/
.left_panel {
    border: 1px solid black;
    height: 528px;
    left: 10px;
    position: absolute;
    top: 315px;
    width: 130px;
}

.main_loop {
    padding: 15px;
    display: inline-block;
    width: 740px;
    background: #C5DBEC;
    border: 1px solid #C5DBEC;
    height:500px;
}
.main_loop ul li {
    list-style: none;
    margin-top: 1px;
    padding: 2px;
}
.main_loop ul li:hover {
    background: #e1eef8;
}
.main_loop_unfix {
    display: inline-block;
    width: 100%;
}

.left_loop_scroll {
    padding: 10px;
    width:350px;
    overflow-y:scroll;
    height:480px;
    float:left;
    background: #F5F5DC;
}

.right_loop_scroll {
    width:350px;
    overflow-y:scroll;
    height:480px;
    float:right;
    background: #F5F5DC;
    padding: 10px;
}

.right_loop_scroll_backup {
    background: #F5F5DC;
    border: 17px solid #C5DBEC;
    float: right;
    height: 478px;
    overflow-y: scroll;
    position: relative;
    width: 350px;
    display: block;
    padding: 10px;
}

div ul li label {
    cursor: pointer;
    padding-top:5px;
}
.grey {
    color:grey;
}
.bold {
    font-weight: bold;
}

.left_loop {
    width:45%;
    height:100%;
    float:left;
}
#left_serch {
    right: 137px;
    position: relative;
    top: 41px;
    width: 354px;
}

.right_loop {
    width:50%;
    height:100%;
    float:right;
    height: 35px;
}
#right_serch {
    position: relative;
    right: 387px;
    top: 41px;
    width: 334px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    left: 95px;
    position: relative;
    top: -312px;
    border-left: 60px solid green;
    float: right;
    display: block;
}

.arrow-left {
    border-bottom: 60px solid transparent;
    border-right: 60px solid blue;
    border-top: 60px solid transparent;
    float: right;
    height: 0;
    left: 95px;
    position: relative;
    top: -312px;
    width: 0;
    display: none;
}
